/* Chemin : src/components/ui/Toast.module.css */
.toastContainer {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9999;
    animation: slideIn 0.4s ease-out;
}

.toast {
    background-color: #1f1f1f;
    color: #ffffff;
    border-left: 5px solid #f5c518;
    /* Le jaune charte */
    padding: 16px 24px;
    border-radius: 4px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    font-weight: bold;
}

.icon {
    background-color: #f5c518;
    color: #000;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    font-size: 12px;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}