/* Chemin : src/components/ui/Loader.module.css */
.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    min-height: 200px;
    background-color: transparent;
}

.dot {
    width: 14px;
    height: 14px;
    margin: 0 6px;
    background-color: #f5c518;
    /* Jaune Netflix/IMDb */
    border-radius: 50%;
    display: inline-block;
    animation: bounce 0.6s infinite alternate cubic-bezier(0.6, 0.05, 0.15, 0.95);
}

.dot:nth-child(2) {
    animation-delay: 0.2s;
}

.dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes bounce {
    from {
        transform: translateY(0);
        opacity: 0.3;
    }

    to {
        transform: translateY(-16px);
        opacity: 1;
    }
}