/* Chemin : src/pages/home/Home.module.css */

.homeContainer {
    background-color: #141414;
    min-height: 100vh;
}

.hero {
    height: 80vh;
    background-image: linear-gradient(rgba(20, 20, 20, 0.4), rgba(20, 20, 20, 1)),
        url('https://images.unsplash.com/photo-1503095396549-807059018b17?auto=format&fit=crop&w=1920&q=80');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.heroOverlay {
    width: 100%;
}

.heroContent {
    max-width: 800px;
}

.heroTitle {
    font-size: 4rem;
    font-weight: 900;
    color: white;
    line-height: 1.1;
    margin-bottom: 1.5rem;
}

.yellow {
    color: #f5c518;
}

.heroSubtitle {
    font-size: 1.25rem;
    color: #e5e5e5;
    margin-bottom: 2rem;
}

.heroButtons {
    display: flex;
    gap: 15px;
}

.btnPrimary {
    background-color: #f5c518;
    color: black;
    border: none;
    padding: 12px 30px;
    font-weight: bold;
    border-radius: 4px;
    font-size: 1.1rem;
    transition: 0.3s;
}

.btnPrimary:hover {
    background-color: #e2b616;
    transform: scale(1.05);
}

.btnSecondary {
    background-color: rgba(109, 109, 110, 0.7);
    color: white;
    border: none;
    padding: 12px 30px;
    font-weight: bold;
    border-radius: 4px;
    font-size: 1.1rem;
    transition: 0.3s;
}

.btnSecondary:hover {
    background-color: rgba(109, 109, 110, 1);
}

.catalogSection {
    margin-top: -100px;
    /* Chevauchement sur le Hero pour l'effet visuel */
    padding-bottom: 5rem;
}