<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout" layout:decorate="~{layouts/main}">

<head>
    <title>Liste des artistes</title>
</head>

<body>
    <div class="container">
        <div layout:fragment="content">
            <h1 th:text="${title}">Liste des artistes</h1>

            <div class="actions">
                <a th:href="@{/artists/create}">Ajouter un artiste</a>
            </div>
             
            <table th:unless="${#lists.isEmpty(artists)}">
                <thead>
                    <tr>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th colspan="2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="artist : ${artists}">
                        <td th:text="${artist.firstname}">Cédric</td>
                        <td><a th:text="${artist.lastname}" th:href="@{/artists/{id}(id=${artist.id})}">NSavi</a></td>
                        <td><a th:href="@{/artists/{id}(id=${artist.id})}">Voir</a></td>
                        <td><a th:href="@{/artists/{id}/edit(id=${artist.id})}">Editer</a></td>
                        <td>
                            <form th:id="|deleteForm-${artist.id}|"
                                th:action="@{/artists/{id}(id=${artist.id})}" method="delete">
                                <a href="#" th:onclick="|if (confirm('Êtes-vous sûr de vouloir supprimer l\'artiste #${artist.id} ?')) 
                                document.getElementById('deleteForm-${artist.id}').submit();
                                return false;|">Supprimer</a>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>